.Ctt{

    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
         height: 100vh;
         background-color: gray;
}

.uai{
     display: flex;
    background-color: rgb(131, 96, 163);
    width: 900px;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button{
    width: 150px;
    height: 50px;
    background-color: rgb(190, 158, 221);
    border: 1px solid blueviolet;
    border-radius: 9px;
}

h1{
    font-size: 50px;
    color: blueviolet;
}

.aa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.aqui{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.ola{
font-size: 50px;
    color: blueviolet;
}